name: Task 5 - Auto Trigger Demo

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show files
        run: ls -l

      - name: Print commit trigger message
        run: echo "Build triggered automatically on commit"
