name: Workspace Demo - Task 3

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create file in workspace
        run: echo "This file is created in GitHub Actions workspace" > sample.txt

      - name: Show workspace files
        run: ls -l

      - name: Display file contents
        run: cat sample.txt
